/* Modal Overlay */

.modal-overlay-enter {
  opacity: 0.01;
}
.modal-overlay-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in-out;
}
.modal-overlay-exit {
  opacity: 1;
}
.modal-overlay-exit-active {
  opacity: 0.01;
  transition: opacity 200ms ease-in-out;
}

/* Profile Modal */
.product-option-modal-enter {
  transform: translateY(-50%);
  opacity: 0;
}
.product-option-modal-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 200ms ease-in-out;
}
.product-option-modal-exit {
  transform: translateY(0);
  opacity: 1;
}
.product-option-modal-exit-active {
  opacity: 0;
  transform: translateY(-50%);
  transition: all 200ms ease-in-out;
}
