.tile {
  color: #252525;
}

.react-calendar__navigation__arrow[disabled] {
  background-color: unset !important;
  color: rgb(167, 164, 164) !important;
}
.react-calendar__tile--active {
  background-color: gray !important;
  color: #fff !important;
}
.react-calendar__tile--active:hover {
  background-color: gray !important;
  color: #fff !important;
}
.react-calendar__tile:hover {
  background-color: gray !important;
  color: #fff !important;
  transition: all 75ms ease;
}
.react-calendar__tile:disabled {
  background-color: unset !important;
  color: gray !important;
}
.react-calendar__tile:disabled:hover {
  background-color: unset !important;
  color: gray !important;
}
.react-calendar__navigation__arrow {
  background-color: unset !important;
}
.react-calendar__month-view__weekdays__weekday {
  /* font-size: larger !important; */
}
.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none;
  font-size: 0.8em;
}
.tile {
  /* border-radius: 50%; */
}

.react-calendar {
  border-radius: 6px;
  border: none !important;
  box-shadow: 0px 8px 7px 2px rgb(213, 213, 213);
  font-size: 0.9rem;
}
.react-calendar__tile--now {
  background-color: #f78f21 !important;
}
.react-calendar__navigation__arrow {
  border-radius: 50%;
}
.react-calendar__navigation button {
  min-width: 35px;
}

/* React Toggle */
.react-custom-toggle.react-toggle--checked .react-toggle-track {
  background-color: #f78f21;
}
.react-custom-toggle.react-toggle--checked:hover .react-toggle-track:hover {
  background-color: #f78f21;
}

.react-custom-toggle.react-toggle--checked .react-toggle-thumb {
  border-color: #f78f21;
}
#nprogress .bar {
  background-color: #f78f21 !important;
  height: 3px !important;
}
