@font-face {
  font-family: 'AmazonEmber';
  src: local('AmazonEmber'), url(./fonts/AmazonEmber_Lt.ttf) format('trueType'),
    url(./fonts/AmazonEmber_Rg.ttf) format('trueType'),
    url(./fonts/AmazonEmber_Bd.ttf) format('trueType'),
    url(./fonts/Amazon-Ember-Medium.ttf) format('trueType'),
    url(./fonts/AmazonEmber_He.ttf) format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: 'AmazonEmber';
  src: local('AmazonEmber'), url(./fonts/AmazonEmber_Rg.ttf) format('trueType');

  font-weight: 400;
}
@font-face {
  font-family: 'AmazonEmber';
  src: local('AmazonEmber'),
    url(./fonts/Amazon-Ember-Medium.ttf) format('trueType');

  font-weight: 500;
}
@font-face {
  font-family: 'AmazonEmber';
  src: local('AmazonEmber'), url(./fonts/AmazonEmber_Bd.ttf) format('trueType');

  font-weight: 700;
}
@font-face {
  font-family: 'AmazonEmber';
  src: local('AmazonEmber'), url(./fonts/AmazonEmber_He.ttf) format('truetype');

  font-weight: 800;
}
