/* @font-face {
  font-family: 'AmazonEmber';
  src: local('AmazonEmber'), url(./fonts/AmazonEmber_Lt.ttf) format('trueType'),
    url(./fonts/AmazonEmber_Rg.ttf) format('trueType'),
    url(./fonts/AmazonEmber_Bd.ttf) format('trueType'),
    url(./fonts/Amazon-Ember-Medium.ttf) format('trueType'),
    url(./fonts/AmazonEmber_He.ttf) format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: 'AmazonEmber';
  src: local('AmazonEmber'), url(./fonts/AmazonEmber_Rg.ttf) format('trueType');

  font-weight: 400;
}
@font-face {
  font-family: 'AmazonEmber';
  src: local('AmazonEmber'),
    url(./fonts/Amazon-Ember-Medium.ttf) format('trueType');

  font-weight: 500;
}
@font-face {
  font-family: 'AmazonEmber';
  src: local('AmazonEmber'), url(./fonts/AmazonEmber_Bd.ttf) format('trueType');

  font-weight: 700;
}
@font-face {
  font-family: 'AmazonEmber';
  src: local('AmazonEmber'), url(./fonts/AmazonEmber_He.ttf) format('truetype');

  font-weight: 800;
} */

.tile {
  color: #252525;
}

.react-calendar__navigation__arrow[disabled] {
  background-color: unset !important;
  color: rgb(167, 164, 164) !important;
}
.react-calendar__tile--active {
  background-color: gray !important;
  color: #fff !important;
}
.react-calendar__tile--active:hover {
  background-color: gray !important;
  color: #fff !important;
}
.react-calendar__tile:hover {
  background-color: gray !important;
  color: #fff !important;
  transition: all 75ms ease;
}
.react-calendar__tile:disabled {
  background-color: unset !important;
  color: gray !important;
}
.react-calendar__tile:disabled:hover {
  background-color: unset !important;
  color: gray !important;
}
.react-calendar__navigation__arrow {
  background-color: unset !important;
}
.react-calendar__month-view__weekdays__weekday {
  /* font-size: larger !important; */
}
.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none;
  font-size: 0.8em;
}
.tile {
  border-radius: 50%;
}

.react-calendar {
  border-radius: 6px;
  border: none !important;
  box-shadow: 0px 8px 7px 2px rgb(213, 213, 213);
  font-size: 0.9rem;
}
.react-calendar__tile--now {
  background-color: #f78f21 !important;
}
.react-calendar__navigation__arrow {
  border-radius: 50%;
}
.react-calendar__navigation button {
  min-width: 35px;
}
.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
  z-index: 2;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
.ReactModal__Content {
  transition: transform 200ms ease-in-out;
  border-radius: 6px !important;
  transform: translateY(100%);
  padding: 0 !important;
}

.ReactModal__Content--after-open {
  transform: translateY(0);
}

.ReactModal__Content--before-close {
  transform: translateY(100%);
}

/* React Toggle */
.react-custom-toggle.react-toggle--checked .react-toggle-track {
  background-color: #f78f21;
}
.react-custom-toggle.react-toggle--checked:hover .react-toggle-track:hover {
  background-color: #f78f21;
}

.react-custom-toggle.react-toggle--checked .react-toggle-thumb {
  border-color: #f78f21;
}
#nprogress .bar {
  background-color: #f78f21 !important;
  height: 3px !important;
}
