/* .calendar-enter {
  opacity: 0;
  transform: scale(0.9);
}
.calendar-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: all 100ms;
}
.calendar-exit {
  opacity: 1;
}
.calendar-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: all 100ms;
} */
.side-menu-enter {
  transform: translateX(-100%);
  /* max-width: 0; */
  /* opacity: 0; */
}
.side-menu-enter-active {
  transform: translateX(0);
  transition: all 250ms ease-out;
}
.side-menu-exit {
  transform: translateX(0);
}
.side-menu-exit-active {
  transform: translateX(-100%);

  transition: all 250ms;
}
.orders-filter-enter {
  opacity: 0;
  max-height: 0;
}
.orders-filter-enter-active {
  opacity: 1;
  max-height: 300px;
  transition: all 250ms;
}
.orders-filter-exit {
  opacity: 1;
  max-height: 300px;
}
.orders-filter-exit-active {
  opacity: 0;
  max-height: 0;
  transition: all 250ms;
}
.store-tasks-enter {
  opacity: 0;
  max-height: 0;
}
.store-tasks-enter-active {
  opacity: 1;
  max-height: 340px;
  transition: all 250ms;
}
.store-tasks-exit {
  opacity: 1;
  max-height: 340px;
}
.store-tasks-exit-active {
  opacity: 0;
  max-height: 0;
  transition: all 250ms;
}

.sub-categories-enter {
  opacity: 0;
  max-height: 0;
}
.sub-categories-enter-active {
  opacity: 1;
  max-height: 262px;
  transition: all 250ms;
}
.sub-categories-exit {
  opacity: 1;
  max-height: 262px;
}
.sub-categories-exit-active {
  opacity: 0;
  max-height: 0;
  transition: all 250ms;
}

.error-toast-enter {
  opacity: 0;
  transform: translateX(100%);
}
.error-toast-exit {
  opacity: 1;
  transform: translateX(0);
}
.error-toast-enter-active {
  transform: translateX(0);
  opacity: 1;
}
.error-toast-exit-active {
  transform: translateX(100%);
  opacity: 0;
}
.error-toast-enter-active,
.error-toast-exit-active {
  transition: all 200ms;
}
.scroll-btn-enter {
  opacity: 0;
}
.scroll-btn-enter-active {
  opacity: 1;
  transition: all 100ms;
}
.scroll-btn-exit {
  opacity: 1;
}
.scroll-btn-exit-active {
  opacity: 0;
  transition: all 100ms;
}

/* testing animations */

/* .stat-item:before,
.stat-item:after {
  content: "";
  position: absolute;
  
  border-radius: 8px;
  background: linear-gradient(45deg, orange, yellow, green, cyan, blue, violet);
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  background-size: 400%;
  z-index: -1;
  animation: shadow 30s linear infinite;
}

.stat-item:after {
  filter: blur(10px);
}
@keyframes shadow {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
} */
